* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Courier, monospace;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */

}

body {
	background-color: #eeeeee;
	display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

